<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145007965200-j9nbubbfbb5c3auku59tuo5eocnm8l9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145007965200-j9nbubbfbb5c3auku59tuo5eocnm8l9c</string>
	<key>API_KEY</key>
	<string>AIzaSyAjbp94dE3B2NQTD2gP_a7_PU7LKcOL8s4</string>
	<key>GCM_SENDER_ID</key>
	<string>145007965200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kosovar.ShoesShop</string>
	<key>PROJECT_ID</key>
	<string>shoes-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>shoes-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145007965200:ios:7f9ad8056fac4c219a8695</string>
</dict>
</plist>